label {
    display: block;
    font-size: 12px;
    margin: 10px 0;
}

.input-wrapp {
    width: 100%;
    display: flex;
}
.input-part {
    // float: left;
    // display: inline-block;   
}
input {
    background-color: $border_color;
    border: none;
    padding: 17px 50px 17px 10px;
    border-radius: 5px;
    width: 100%;
    color: $main_font_color;
    font-size: 16px;
}
.input-spec-wrap {
    display: flex;
    .btn {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $secondary_color;
        padding: 10px 15px;
    }
}
.input--special {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-part--2 {
    // width: 49%;
    flex-basis: 49%;
    flex-basis: 49%;
    &:nth-child(2) {
        margin-left: 2%;
    }
}
.input-part--3 {
    // width: 32%;
    flex-basis: 32%;
    max-width: 32%;

     
    margin-left: 2%;
    &:first-child {
        margin-left: 0;
    }
}
.input-part--4 {
    flex-basis: 23.5%;
    max-width: 23.5%;
    // width: 23.5%;
     
    margin-left: 2%;
    &:first-child {
        margin-left: 0;
    }
}

// select {
//     -webkit-appearance: button;
//     -moz-appearance: button;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     appearance: none;
//     background-image: url('../assets/images/arrow-bottom.svg');
//     background-repeat: no-repeat;
//     background-position: right 15px top 1.5em, right 10px top 1em; 
//     background-color: $border_color;
//     border: transparent;
//     color: $main_font_color;
//     width: 100%;
//     padding: 15px 50px 15px 10px;
//     border-radius: 5px;
//     margin-bottom: 10px;
// }
.required-wrapp {
    position: relative;
}
.required {
    position: absolute;
    right: 5px;
    bottom: 28px;
}
form {
    display: inline-block;
    width: 100%;
}
.create-body {
    border-top: transparent;
    background-color: $main_color;
    // padding: 10px;
    padding: 0 15px 15px 15px;
}