.title-wrapp {
    background-color: $secondary_color;
    padding: 10px 15px 10px 15px;
    border-bottom: none;
}
.title-wrapp-rounded {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title-wrapp--diff {
    padding: 5px 0 5px 40px;
}