$main_color: #2D325A;
$secondary_color: #202342;
$main_font_color: #fff;
$btns_color: #7032FF;
$btns_secondary: #4D7CFE;
$border_color: #3C4379;
$btn_add: #04BF9D;
$btn_edit: #F2B705;
$btn_delete: #D83434;
$background: #262B4B;
$arrows_color: #585B77;
$lines_color: #272B4E;
$placeholder_color: #BBBBBB;
$list_item_click: #181B37;
$input_light: #535A99;
$status-open: #55c09e;
$pending_color:#d83e34;
$border_secondary:#50589B;